<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
									<div class="form-group">
			   	<div class="col-sm-2 control-label">姓名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="hlUser.name" placeholder="姓名" disabled="disabled"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">身份证号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="hlUser.idCard" placeholder="身份证号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">电话号码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="hlUser.tel" placeholder="电话号码"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">开户银行</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="hlUser.bankName" placeholder="开户银行"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">银行卡号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="hlUser.bankNo" placeholder="银行卡号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">注释</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="hlUser.comment" placeholder="注释"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="reset" class="btn btn-warning" value="重置"/>
			</div>
		</form>
	</div>
</div>

<script src="../../js/modules/hluser/hluserinfo.js"></script>
</body>
</html>