<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>汉语通</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="css/all-skins.min.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition login-page">
<div class="login-box" id="rrapp" v-cloak>
  <div class="login-logo" style="margin-top: 0px;">
    <b>注册</b>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
      <div v-if="error" class="alert alert-danger alert-dismissible">
        <h4 style="margin-bottom: 0px;"><i class="fa fa-exclamation-circle"></i> {{errorMsg}}</h4>
      </div>
      <div class="form-group has-feedback">
          <input type="text" class="form-control" v-model="userName" placeholder="用户名">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          <input type="password" class="form-control" v-model="password" placeholder="密码">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          <input type="password" class="form-control" v-model="password1" placeholder="确认密码">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          <input type="text" class="form-control" v-model="name" placeholder="真实姓名">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          <input type="text" class="form-control" v-model="idCard" placeholder="身份证号">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          <input type="text" class="form-control" v-model="tel" placeholder="电话号码">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          <input type="text" class="form-control" v-model="bankName" placeholder="开户银行">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          <input type="text" class="form-control" v-model="bankNo" placeholder="银行卡号">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          <input type="text" class="form-control" v-model="recUser" placeholder="推荐人账号">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback right">
      	<div style="float:right">
      	  <a class="form-control-lg" data-toggle="modal" data-target="#myModal">消费协议</a> <input type="checkbox" class="form-control-lg" id="agreement" />我同意
      	</div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="button" class="btn btn-primary btn-block btn-flat" @click="login">注册</button>
        </div>
        <!-- /.col -->
      </div>
    <!-- /.social-auth-links -->

  </div>
  <!-- /.login-box-body -->
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">快语国际《汉语通》消费协议</h4>
      </div>
      <div class="modal-body">
        <b>一、活动目的</b></br>
为了答谢新老客户长期以来对我公司的支持与厚爱，我公司实行消费获积分奖励活动，来回馈广大客户对我公司的贡献，同时促进双方的深度合作，实现互惠共赢。</br>
<b>二、积分制度</b></br>
客户正常消费可同时获得相应积分，累计的积分可以兑换相应礼品。</br>
<b>三、积分计算方法</b></br>
积分分为两个部分：消费积分和奖励积分。</br> 
1、 消费积分 </br>
消费积分以0.63元起为最小单位，例如:单次现金消费满0.63元累计1分，不满0.63元，积分为0；单次签单消费满1000元累计奖励1600积分，</br>
（1）积分计算以实收金额为准。</br>
（2）消费金额中，不满1000元部分不进行前后累计积分。</br>
（3）消费积分在消费达成当天记入积分（即累计积分）。</br>
（4）如发生退换货，将从积分中扣除由于退换货部分产生的积分差额。</br>
（5）积分只在同一帐户内累计，不同帐户的积分不能合并。</br>
2、奖励积分</br>
（1）积分锁仓期：可获得相应增值分红。</br>
（2）积分增值：可兑换相应产品和现金奖励。</br>
<b>四、积分兑换</b></br>
1、兑换成功后将从会员帐户中扣减相应积分分值。</br>
2、积分兑换相应礼品，不做兑换现金等其他用途。</br>
3、积分兑的礼品换暂不提供更换或退货服务，所以请您细心看准后再进行兑换。</br>
<b>五、积分查询</b></br>
1、每次进行积分后均会说明截止到当次积分之前积分合计。</br>
2、在会员系统查询。</br>
<b>六、其他说明</b></br>
如果在积分活动期间双方停止合作时积分、激励自动失效，所有累计积分归零，礼品不再发放。
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- /.login-box -->
<script src="libs/jquery.min.js"></script>
<script src="plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="libs/vue.min.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/app.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el:'#rrapp',
        data:{
        	userName: '',
            password: '',
            password1: '',
            name: '',
            idCard: '',
            bankName: '',
            bankNo: '',
            tel: '',
            recUser: T.p('userName'),
            error: false,
            errorMsg: ''
        },
        beforeCreate: function(){
            if(self != top){
                top.location.href = self.location.href;
            }
        },
        methods: {
            login: function () {
                var data = "userName="+vm.userName+"&password="+vm.password+"&name="+vm.name+"&idCard="+
                			vm.idCard+"&bankName="+vm.bankName+"&bankNo="+vm.bankNo+"&recUser="+vm.recUser + "&tel="+vm.tel;
                if(vm.validator()){
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: baseURL + "sys/register",
                    data: data,
                    dataType: "json",
                    success: function(r){
                        if(r.code == 0){//登录成功
                            localStorage.setItem("token", r.token);
                            vm.error = true;
                            vm.errorMsg = "注册成功，请登陆";
                            setTimeout(function(){
	                            window.location.href ='login.html';
                            }, 2000);
                        }else{
                            vm.error = true;
                            vm.errorMsg = r.message;
                        }
                    }
                });
            },
            validator: function () {
            	
            	if (!document.getElementById('agreement').checked)
				{
            		vm.error = true;
                    vm.errorMsg = "请同意消费协议！";
                    return true;
				}
            	
                if(isBlank(vm.userName)){
                	vm.error = true;
                    vm.errorMsg = "用户名不能为空";
                    return true;
                }
                if(isBlank(vm.name)){
                	vm.error = true;
                    vm.errorMsg = "姓名不能为空";
                	return true;
                }

                if(isBlank(vm.password)){
                	vm.error = true;
                    vm.errorMsg = "密码不能为空";
                    return true;
                }
                
                if(isBlank(vm.idCard)){
                	vm.error = true;
                    vm.errorMsg = "身份证号不能为空";
                    return true;
                }
                
                if(isBlank(vm.bankName)){
                	vm.error = true;
                    vm.errorMsg = "开户银行";
                    return true;
                }
                
                if(isBlank(vm.bankNo)){
                	vm.error = true;
                    vm.errorMsg = "开户银行卡号不能为空";
                    return true;
                }
                if(isBlank(vm.tel)){
                	vm.error = true;
                    vm.errorMsg = "电话号不能为空";
                    return true;
                }
                if(isBlank(vm.recUser)){
                	vm.error = true;
                    vm.errorMsg = "推荐人不能为空";
                    return true;
                }
                
                if(vm.password1 != vm.password){
                	vm.error = true;
                    vm.errorMsg = "密码不一致";
                    return true;
                }

            }
        }
    });
</script>
</body>
</html>
