<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>华力汉语链</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="css/all-skins.min.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition login-page">
<div class="login-box" id="rrapp" v-cloak>
  <div class="login-logo" style="margin-top: 0px;">
    <b>注册</b>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
      <div v-if="error" class="alert alert-danger alert-dismissible">
        <h4 style="margin-bottom: 0px;"><i class="fa fa-exclamation-circle"></i> {{errorMsg}}</h4>
      </div>
      <div class="form-group has-feedback">
          <input type="text" class="form-control" v-model="userName" placeholder="手机号码">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          <input type="password" class="form-control" v-model="password" placeholder="密码">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          <input type="password" class="form-control" v-model="password1" placeholder="确认密码">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          <input type="text" class="form-control" v-model="name" placeholder="姓名">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          <input type="text" class="form-control" v-model="idCard" placeholder="身份证号">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          <input type="text" class="form-control" v-model="bankName" placeholder="开户银行">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          <input type="text" class="form-control" v-model="bankNo" placeholder="银行卡号">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          <input type="text" class="form-control" v-model="recUser" placeholder="推荐人账号">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="button" class="btn btn-primary btn-block btn-flat" @click="login">注册</button>
        </div>
        <!-- /.col -->
      </div>
    <!-- /.social-auth-links -->

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<script src="libs/jquery.min.js"></script>
<script src="plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="libs/vue.min.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/app.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el:'#rrapp',
        data:{
        	userName: '',
            password: '',
            password1: '',
            name: '',
            idCard: '',
            bankName: '',
            bankNo: '',
            recUser: '',
            error: false,
            errorMsg: ''
        },
        beforeCreate: function(){
            if(self != top){
                top.location.href = self.location.href;
            }
        },
        methods: {
            login: function () {
                var data = "userName="+vm.userName+"&password="+vm.password+"&name="+vm.name+"&idCard="+
                			vm.idCard+"&bankName="+vm.bankName+"&bankNo="+vm.bankNo+"&recUser="+vm.recUser;
                if(vm.validator()){
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: baseURL + "sys/register",
                    data: data,
                    dataType: "json",
                    success: function(r){
                        if(r.code == 0){//登录成功
                            localStorage.setItem("token", r.token);
                            vm.error = true;
                            vm.errorMsg = "注册成功，请登陆";
                            setTimeout(function(){
	                            window.location.href ='login.html';
                            }, 2000);
                        }else{
                            vm.error = true;
                            vm.errorMsg = r.message;
                        }
                    }
                });
            },
            validator: function () {
                if(isBlank(vm.userName)){
                	vm.error = true;
                    vm.errorMsg = "手机号码不能为空";
                    return true;
                }
                if(isBlank(vm.name)){
                	vm.error = true;
                    vm.errorMsg = "姓名不能为空";
                	return true;
                }

                if(isBlank(vm.password)){
                	vm.error = true;
                    vm.errorMsg = "密码不能为空";
                    return true;
                }
                
                if(isBlank(vm.idCard)){
                	vm.error = true;
                    vm.errorMsg = "身份证号不能为空";
                    return true;
                }
                
                if(isBlank(vm.bankName)){
                	vm.error = true;
                    vm.errorMsg = "开户银行";
                    return true;
                }
                
                if(isBlank(vm.bankNo)){
                	vm.error = true;
                    vm.errorMsg = "开户银行卡号不能为空";
                    return true;
                }
                if(isBlank(vm.recUser)){
                	vm.error = true;
                    vm.errorMsg = "推荐人不能为空";
                    return true;
                }
                
                if(vm.password1 != vm.password){
                	vm.error = true;
                    vm.errorMsg = "密码不一致";
                    return true;
                }

            }
        }
    });
</script>
</body>
</html>
